.user{

    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(#0c0c0c43,rgb(0, 0, 0)), url("/public//image/book3.png");
    background-size: 1350px;
   height: 100vh;

    
  
       
}
.ulogin{
    margin-top: 0px;
    margin-right: 160px;
    padding: 100px 80px;
    padding-bottom: 30px;
    border-radius: 10px;
    background: transparent;
    background-color: rgba(227, 227, 240, 0.141);
}
.ulogin img{

    width: 70px;
    padding-left: 95px;
}
.ulogin h1{
    margin-top: 0px;
    margin-left: 50px;
    color: rgb(13, 0, 128);
}
.ulogin label{

    color: rgb(235, 235, 240);
}
.ulogin #a{

    margin-left: 22px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.ulogin input{
    border: none;
    border-bottom: 1px solid;
    background: none;
    width: 180px;
    height: 20px;
}
.ulogin input:focus{
    outline: none;
    color: white;
    border-bottom: 2px solid black;

}
.ulogin button{
    margin-top: 30px;
    margin-left: 85px;
    padding:10px 30px;
    border-radius: 5px;
    background-color: rgba(255, 1, 1, 0.937);
    border: none;
    color:white;
}